/* Your SCSS here. */
@mixin center_everything {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin:0;
}

nav {
  background-color: hsl(317, 73%, 87%);
  width: 100%;
}

nav a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

nav a:hover {
  background-color: hsl(170, 92%, 80%);
  color: #ffffff;
}

nav a.active {
  background-color: hsl(170, 92%, 80%);
  color: white;
}

header.small .navbar_content {
  padding: 8px 30px;
}

header.small nav a {
  font-size: 15px;
}


.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  transition: padding 0.3s ease;
}

.navbar_class {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.section_content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#home {
    background-image: url("../assets/background.jpg");
    min-height: 85vh;
    @include center_everything;
}

#home .home_content {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 236);
  text-shadow: 2px 2px 4px lch(96.82% 15.94 198.45);
}

#why{
    background-image: url("../assets/hawaii_fixed_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.why_content {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px hsl(317, 73%, 87%);
  font-size: 25px;


}

.why_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.column {
  text-align: center;
  color: white;
  font-size: 20px;
}


#plans {
  text-align: center;
  font-size: 25px;

}

.plans_video {
  text-align: center;
}

.plans_video video {
  max-width: 60%;
  height: auto;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.slides_image {
    position: relative;
}

.slide.active {
    display: block;
}

.slide {
    display: none;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.left_button, .right_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left_button {
    left: 10px;
}

.right_button {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
}

.dot.active {
    background-color: #717171;
}

.day_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
}

.day_button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

.day_button img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.day_button:hover img {
  transform: scale(1.05);
}


.day_button span {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.modal {
  display: none;

  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.6);

  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.modal.active {
  display: flex;
}

.modal_content {
  position: relative;

  width: 80%;
  max-width: 600px;

  background-color: white;

  padding: 35px;
  border-radius: 15px;

  text-align: center;
}

.modal_content img {
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  border-radius: 10px;

  margin-bottom: 20px;
}

.close_button {
  position: absolute;

  top: 10px;
  right: 15px;

  border: none;
  background: none;

  font-size: 28px;
  cursor: pointer;
}

#contact {
  text-align: center;
}

@media (max-width: 1024px) {

  .navbar_content {
    padding: 12px 25px;
  }

  .navbar_class {
    gap: 15px;
  }

  nav a {
    font-size: 16px;
    padding: 10px 10px;
  }

  .why_column {
    gap: 15px;
  }

  .plans_video video {
    max-width: 80%;
  }

  .carousel {
    width: 90%;
  }

  .day_buttons {
    width: 90%;
  }
}


@media (max-width: 1080px) {
  .plans_video video {
    max-width: 90%;
  }
  
  .slide img {
    height: 300px;
  }

}

footer {
    text-align: center;
    padding: 20px;
}

html {
  scroll-behavior: smooth;
}